*{
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

body {
    background-color:#222222;
}

h2{
    padding:20px;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    align-items:center;
    margin-left:10px;
    font-size: 60px;
    line-height: 44px;
    background-color:#444444;
    border: #02c2cc solid 8px;
    vertical-align: middle;
}

h3{
    padding:10px;
    color:white;
    font-family:Helvetica, sans-serif;
    
    align-items:center;
    margin-left:10px;
    font-size: 35px;
    line-height: 44px;
    background-color:#444444;
    border: #02c2cc solid 8px;
    vertical-align: middle;
}


nav {
    width: 100%;
    height: 85px;
    background-color:#444444;
    border:  #c83deb solid 4px;
    position:fixed;
    
}

nav h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size:40px;
    font-weight:bolder;
    letter-spacing:15px;
}


ul {

}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 35px;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    font-weight:bold;
    color:#02c2cc;
    padding: 0 20px;
    display: block;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    padding-top:100px;
}

.main {
    overflow: auto;
    padding-bottom: 200px;
}

.title{
    width: 100%;
    margin-top:25px;
    margin-bottom:25px;
    vertical-align: center;
}

.title h2{
    padding:20px;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    align-items:center;
    margin-left:10px;
    font-size: 50px;
    line-height: 44px;
    background-color:#444444;
    border: #02c2cc solid 8px;
    vertical-align: middle;
}

.title p{
    padding: 20px 20px 20px 20px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    align-items:center;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    line-height: 45px;
    background-color:#444444;
}

.img-info {
    width: 100%;
    margin-top:25px;
    vertical-align: center;
    
}

.img-info h2 {
    padding: 20px;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size: 50px;
    line-height: 44px;
    background-color:#444444;
    border: #02c2cc solid 8px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
}

.img-info p {
    padding: 20px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    line-height: 45px;
    background-color:#444444;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;

}

.img-dog {
    width: 100%;
}


.img-me {
    width: 95%;
    border:  #c83deb solid 4px;
    padding:10px;
    
}

button{
    background-color:#c83deb ;
    color:white;

}

.container{
    padding-top:20px;
    margin:auto;
    vertical-align: center;
 }

footer {
    position: relative;
    height: 150px;
    margin-top: -150px;
    clear: both;
    
}

.foot {
    height: 50px;
    display: flex;
    justify-content: center;
}

footer h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size:30px;
    font-weight:bolder;
    letter-spacing:10px;
    border:  #c83deb solid 4px;
    max-width: fit-content;
    
}

.info {
    float: left;
    width: 100%;
    margin-top:25px;
    vertical-align: center;
    
}



@media only screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px;
    }
    
    .img-info p {
        padding: 20px;
    }

    .img-dog {
        width: 100%;
    }

    .img-me {
        width: 60%;
        min-height:60%;
    }

    .container{
        padding-left:165px;
         
     }


}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }

    .title{
        width: 100%;
        margin-top:25px;
        margin-bottom:25px;
        vertical-align: center;
    }

    .title h2{
        padding:20px 20px 20px 20px;
        color:white;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
        align-items:center;
        margin-left:10px;
        font-size: 50px;
        line-height: 44px;
        background-color:#444444;
        border: #02c2cc solid 8px;
        vertical-align: middle;
    }

    .title p{
        padding: 0px 0px 0px 20px;
        color:white;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:lighter;
        align-items:center;
        margin-top: 10px;
        margin-left:10px;
        margin-right:10px;
        line-height: 45px;
        background-color:#444444;
    }

    .img-info {
        width: 50%;
        float: right;
        line-height:45px;
        
    }

    .img-info h2 {
        padding: 20px 20px 20px 20px;
        color:white;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
        align-items:center;
        margin-left:10px;
    }
    
    .img-info p {
        padding: 0px 20px 0px 20px;
        color:white;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:lighter;
        align-items:center;
        margin-top: 10px;
        margin-left:10px;
        margin-right:10px;
        
    }

    .img-dog {
       padding: 20px 0px 0px 0px;
       width: 50%;
       float: left;
       
    }

    .img-me {
        padding: 0px 0px 0px 0px;
        width: 40%;
        min-height:40%;
        float: left;
        border:  #c83deb solid 4px;
        
     }

     .container{
        padding-left:45px;
        padding-top:65px;
     }

     
 



}